@import "compass/reset";
@import "compass/css3";

#dimensionX,
#dimensionY {
	width: 50px;
	height: 30px;
}
.dimensions {
	margin: 50px 50px 0 50px;
}
#table1,#table2 {
	display: inline-table;
	border: 1px solid red;
	td {
		width: 20px;
		height: 20px;
		border: 1px solid gray;
	}
}
#table1 {
	border: 2px solid red;
}
#table2 {
	border: 2px solid green;
}
p {
	display: inline-block;
	max-width: 200px;
	vertical-align: top;
}
.controls {
	display: none;
	margin: 20px 0 0 50px;
}
.ship {
	background: green;
}
.ship.hit {
	background: red;
}
.miss {
	background: gray;
}
#reverseBtn {
	width: 100px;
	height: 20px;
	background: green;
	margin: 20px 0 0 50px;
	position: relative;
	&:after {
		content: "horizontal";
		display: block;
		position: absolute;
		top: 0px;
		left: 25px;
		font: normal 13px Arial;
		color: #fff; 
	}
	&.vertical {
		&:after {
			content: "vertical";
		}
	}
}
.hidden {
	display: none;
}
#console {
	margin: 30px 0 0 50px;
	min-width: 600px;
	min-height: 100px;
}
h2 {
	padding: 10px 0;
	font-size: 1.5em;
	margin: 0 0 0 50px;
}
#refresh {
	margin: 0 0 0 50px;
	cursor: pointer;
	&:hover {
		color: red;
	}
}
.hostedGames {
	border: 1px solid black;
	margin: 10px 0 0 50px;
	max-width: 600px;
	overflow: scroll;
	
	a {
		padding: 5px 0;
		font: bold 1em Arial;
		text-decoration: none;
		color: green;
		&:hover {
			text-decoration: underline;
			&:after {
				content: " - (join now)";
			}
		}
		&:active {
			color: red;
		}
	}
}
#messageInput {
	margin: 10px 0 0 50px;
}
.err {
	display: none;
	color: red;
}