/* line 5, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/styles.scss */
#dimensionX,
#dimensionY {
  width: 50px;
  height: 30px;
}

/* line 9, ../sass/styles.scss */
.dimensions {
  margin: 50px 50px 0 50px;
}

/* line 12, ../sass/styles.scss */
#table1, #table2 {
  display: inline-table;
  border: 1px solid red;
}
/* line 15, ../sass/styles.scss */
#table1 td, #table2 td {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}

/* line 21, ../sass/styles.scss */
#table1 {
  border: 2px solid red;
}

/* line 24, ../sass/styles.scss */
#table2 {
  border: 2px solid green;
}

/* line 27, ../sass/styles.scss */
p {
  display: inline-block;
  max-width: 200px;
  vertical-align: top;
}

/* line 32, ../sass/styles.scss */
.controls {
  display: none;
  margin: 20px 0 0 50px;
}

/* line 36, ../sass/styles.scss */
.ship {
  background: green;
}

/* line 39, ../sass/styles.scss */
.ship.hit {
  background: red;
}

/* line 42, ../sass/styles.scss */
.miss {
  background: gray;
}

/* line 45, ../sass/styles.scss */
#reverseBtn {
  width: 100px;
  height: 20px;
  background: green;
  margin: 20px 0 0 50px;
  position: relative;
}
/* line 51, ../sass/styles.scss */
#reverseBtn:after {
  content: "horizontal";
  display: block;
  position: absolute;
  top: 0px;
  left: 25px;
  font: normal 13px Arial;
  color: #fff;
}
/* line 61, ../sass/styles.scss */
#reverseBtn.vertical:after {
  content: "vertical";
}

/* line 66, ../sass/styles.scss */
.hidden {
  display: none;
}

/* line 69, ../sass/styles.scss */
#console {
  margin: 30px 0 0 50px;
  min-width: 600px;
  min-height: 100px;
}

/* line 74, ../sass/styles.scss */
h2 {
  padding: 10px 0;
  font-size: 1.5em;
  margin: 0 0 0 50px;
}

/* line 79, ../sass/styles.scss */
#refresh {
  margin: 0 0 0 50px;
  cursor: pointer;
}
/* line 82, ../sass/styles.scss */
#refresh:hover {
  color: red;
}

/* line 86, ../sass/styles.scss */
.hostedGames {
  border: 1px solid black;
  margin: 10px 0 0 50px;
  max-width: 600px;
  overflow: scroll;
}
/* line 92, ../sass/styles.scss */
.hostedGames a {
  padding: 5px 0;
  font: bold 1em Arial;
  text-decoration: none;
  color: green;
}
/* line 97, ../sass/styles.scss */
.hostedGames a:hover {
  text-decoration: underline;
}
/* line 99, ../sass/styles.scss */
.hostedGames a:hover:after {
  content: " - (join now)";
}
/* line 103, ../sass/styles.scss */
.hostedGames a:active {
  color: red;
}

/* line 108, ../sass/styles.scss */
#messageInput {
  margin: 10px 0 0 50px;
}

/* line 111, ../sass/styles.scss */
.err {
  display: none;
  color: red;
}
